.root {
  font-family: Noto Serif;
  position: relative;
  /* Fallback: Set a background color. */
  background-color: var(--background-color);

  /* Create the gradient. */
  --sunpillar-clr-1: var(--sunpillar-6);
  --sunpillar-clr-2: var(--sunpillar-1);
  --sunpillar-clr-3: var(--sunpillar-2);
  --sunpillar-clr-4: var(--sunpillar-3);
  --sunpillar-clr-5: var(--sunpillar-4);
  --sunpillar-clr-6: var(--sunpillar-5);
  --space: 2%;
  --angle: -77deg;
  --glitter: url("https://assets.codepen.io/13471/noise-base.png");
  --glitter2: url("https://assets.codepen.io/13471/noise-top.png");

  filter: brightness(calc((var(--pointer-from-center) * 0.4) + 0.4))
    contrast(1.4) saturate(2.25);
}

.glimmerLayer4,
.glimmerLayer3,
.glimmerLayer2,
.glimmerLayer1,
.glimmerLayer0,
.root {
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.root::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-blend-mode: darken;
  background-image: repeating-linear-gradient(
    var(--angle),
    rgba(255, 255, 255, 0) calc(var(--space) * 1),
    rgba(0, 0, 0, 0.05) calc(var(--space) * 2),
    rgba(0, 0, 0, 0.05) calc(var(--space) * 3),
    rgba(0, 0, 0, 0.1) calc(var(--space) * 4),
    rgba(0, 0, 0, 0.05) calc(var(--space) * 5),
    rgba(0, 0, 0, 0.05) calc(var(--space) * 6),
    rgba(255, 255, 255, 0) calc(var(--space) * 7)
  );
  background-position: calc(var(--pointer-x)) center;
  background-size: 200% 700%;
  background-clip: text;
}

.root::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: oklch(
    calc(var(--foil-color-lightness) - 30%) var(--foil-color-chroma)
      var(--foil-color-hue)
  );
  background-clip: text;
  z-index: -1;
  font-kerning: 1px;
  transform: translate(
    calc(1.5% - (3% * var(--ratio-x))),
    calc(1.5% - (3% * var(--ratio-y)))
  );
}

.glimmerGroup,
.glimmerLayer4,
.glimmerLayer3,
.glimmerLayer2,
.glimmerLayer1,
.glimmerLayer0,
.glimmer {
  --bgoffsetx: calc(10px * var(--ratio-x));
  --bgoffsety: calc(10px * var(--ratio-y));

  position: absolute;
  inset: 0;
}

.glimmerGroup {
  mix-blend-mode: soft-light;
}

:global(.safari-mobile) .glimmerGroup {
  mix-blend-mode: screen;
}

.glimmerLayer4 {
  background-image: var(--glitter2);
  background-position: calc(var(--bgoffsetx) * 1) calc(var(--bgoffsety) * 1);
  mix-blend-mode: normal;
}

.glimmerLayer3 {
  background-image: var(--glitter2);
  background-position: center;
  mix-blend-mode: color-dodge;
}

.glimmerLayer2 {
  background-image: repeating-linear-gradient(
    var(--angle),
    rgba(16, 16, 16, 0.07) calc(var(--space) * 1),
    rgba(16, 16, 16, 0.09) calc(var(--space) * 2),
    rgba(16, 16, 16, 0.2) calc(var(--space) * 3),
    rgba(16, 16, 16, 0.2) calc(var(--space) * 4),
    rgba(16, 16, 16, 0.2) calc(var(--space) * 5),
    rgba(16, 16, 16, 0.09) calc(var(--space) * 6),
    rgba(16, 16, 16, 0.07) calc(var(--space) * 7)
  );

  background-position: calc(100% * var(--ratio-x)) center;
  background-size: 200% 700%;
  mix-blend-mode: color-burn;
}

:global(.safari) .glimmerLayer2 {
  background-image: repeating-linear-gradient(
    var(--angle),
    rgba(16, 16, 16, 0.02) calc(var(--space) * 1),
    rgba(16, 16, 16, 0.03) calc(var(--space) * 2),
    rgba(16, 16, 16, 0.05) calc(var(--space) * 3),
    rgba(16, 16, 16, 0.05) calc(var(--space) * 4),
    rgba(16, 16, 16, 0.05) calc(var(--space) * 5),
    rgba(16, 16, 16, 0.03) calc(var(--space) * 6),
    rgba(16, 16, 16, 0.02) calc(var(--space) * 7)
  );
}

.glimmerLayer1 {
  background-color: repeating-linear-gradient(
    var(--angle),
    rgba(16, 16, 16, 0.5) calc(var(--space) * 1),
    rgba(16, 16, 16, 0.3) calc(var(--space) * 4),
    rgba(16, 16, 16, 0.5) calc(var(--space) * 7)
  );
  background-position: calc(100% * var(--ratio-x)) center;
}

.h1 {
  @apply text-9xl;
  line-height: 1.4;
}
