@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --foil-color-lightness: 88.68%;
  --foil-color-chroma: 0.182;
  --foil-color-hue: 95.33;
  --background-color: oklch(
    var(--foil-color-lightness) var(--foil-color-chroma) var(--foil-color-hue)
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
